/* @import url('fonts.css'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
    color:#000;
}

ol,ul li {
    list-style: none;
}

.container{
    width:100%;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

body {
    color:#000;
    /* font-family: 'Narnoor','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.header {
    display: flex;
    margin-top: 30px;
}
.navbar__container {
    display: flex;
    align-items: center;
    border-bottom: 4px solid red;
    height: 70px;
}
.site_logo {
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
    width:210px;
    background-color: red;
    height:55px;
}

.categories {
    display: flex;
    gap:30px;
}
.category {
    display: flex;  
    width: 140px;
    text-align: center;
    background-color: red;
    color:#fff;
    height:40px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border:2px solid red;
    box-shadow: 0px 0px 0px 0px #00000031;
    transition: transform 3.5s ease;
    transition: background-color 1s ease;
    font-size:20px;
}

.category:hover {
    background-color: #fff;
    color:red;
    box-shadow: 4px 5px 10px 0px #000000cb;
    transform: translateY(-5px) ;
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
}

.category:active {
    opacity:0.5;
}

.main {
    margin-top: 30px;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linear_div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    background-color:red;
    border-radius: 15px;
}



.image {
    width: 100%;

    height: auto;
    border-radius: 5px;
}

.title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px ;
}

.price {
    color: green;
    font-weight: bold;
}

.sale_button {
    width:70px;
    height:30px;
    margin-left: 250px;
    margin-bottom: 20px;
    outline: none;
    border-bottom-right-radius:50px;
    border-top-left-radius:50px;
    background-color: red;
    color:white;
    border:red;
}

.sale_button:hover {
    background-color: #fff;
    color:red;
    border:2px solid red;
}

.sale_button:active {
    opacity:0.5;
}

.product {
    flex: 1;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.product__image {
}
.about__product {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-bottom: 5px;
}
.product__title {
}
.product__price {
}
.product__description {
    width:100%;
    max-width: 220px;
    margin-bottom: 5px;
}


